body {
    background-image: linear-gradient(to bottom right,rgba(46,37,63,.7),rgba(64,34,79,.75)),url(https://raw.githubusercontent.com/janinko/curse-of-strahd/refs/heads/main/assets/background.jpg)
}

a, div, .page-header-title, .is-current {
    color: white !important;
}

.site-tree-container {
    color: lightgray !important;
}
