body {
    background-image: linear-gradient(to bottom right,rgba(46,37,63,.7),rgba(64,34,79,.75)),url(https://raw.githubusercontent.com/janinko/curse-of-strahd/refs/heads/main/assets/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
}

div {
    color: #ddd !important;
}

a, strong, h1, h2, h3, h4, h5, h6, .page-header-title, .is-current {
    color: white !important;
}

.site-tree-container {
    color: lightgray !important;
}

.site-navbar {
    background-color: rgb(15 23 42);
}
